---
const {img, alt, title, text, href, linkText} = Astro.props;
export interface Props {
  img: string;
  alt: string;
  title: string;
  text: string;
  href?: string;
  linkText?: string;
}
---
<div class="card" style="width: 18rem;">
  <img src={img} class="card-img-top" alt={alt}>
  <div class="card-body">
    <h5 class="card-title">{title}</h5>
    <p class="card-text">{text}</p>
    href && <a href={href} class="btn btn-primary">{linkText}</a>
  </div>
</div>
