---
import { Icon } from 'astro-icon';
import { Navbar, Nav } from 'astro-bootstrap';
import { SITE_TITLE, MAIN_MENU } from '../config';
const navId = 'siteNav';
import DarkModeToggle from './DarkModeToggle.astro';
---

<Navbar class=" navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{SITE_TITLE}</a>
    <Navbar.Toggler controls={navId} />
    <Navbar.Collapse id={navId}>
      <Navbar.Nav class="me-auto mb-2 mb-lg-0">
        { MAIN_MENU.map(item => (
        <Nav.Item href={item.href} parent={item.parent}>{item.text}</Nav.Item>
      ))}
      </Navbar.Nav>
      <ul class="navbar-nav">
        <li class="nav-item col-6 col-lg-auto">
          <a
            class="nav-link d-flex py-2 px-0 px-lg-2 "
            href="http://github.com/astro-bootstrap/astro-bootstrap"
            target="_blank"
            rel="noopener"
          >
            <Icon name="bi-github" class="navbar-nav-svg" />
            <small class="d-lg-none ms-2">GitHub</small>
          </a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
          <DarkModeToggle class="nav-link d-flex"/>
        </li>
      </ul>
    </Navbar.Collapse>
  </div>
</Navbar>
<style lang="scss">
  .navbar-nav-svg {
    display: inline-block;
    vertical-align: -0.125rem;
    height: 1.5rem;
    width: 1.5rem;
  }
</style>
<script></script>
