---
const { id, index: i, show, alwaysOpen, class: className } = Astro.props;
const dataBsParent = alwaysOpen ? null : `#${id}`;
export interface Props extends AccordionCommon {
  alwaysOpen?: boolean;
}
export interface AccordionCommon {
  id: string;
  index: number;
  show?: boolean;
  class: string;
}
---

<div
  id={`${id}-collapse-${i}`}
  class:list={['accordion-collapse', 'collapse', { show }]}
  aria-labelledby={`${id}-heading-${i}`}
  data-bs-parent={dataBsParent}
>
  <div class:list={['accordion-body', className]}>
    <slot />
  </div>
</div>
