---
const {
  parent: id,
  index: i,
  show,
  alwaysOpen = false,
  class: className,
  text,
} = Astro.props;
const dataBsParent = alwaysOpen ? null : `#${id}`;
export interface Props {
  alwaysOpen?: boolean;
  parent: string;
  index: number;
  show?: boolean;
  class?: string;
  text?: string;
}
---

<div
  id={`${id}-collapse-${i}`}
  class:list={['accordion-collapse', 'collapse', { show }]}
  aria-labelledby={`${id}-heading-${i}`}
  data-bs-parent={dataBsParent}
>
  <div class:list={['accordion-body', className]}>
    <slot><Fragment set:html={text} /></slot>
  </div>
</div>
