---
const { parent: id, class: className, index: i, show, text } = Astro.props;
export interface Props {
 parent: string;
 class?: string;
 index: number;
 show?: boolean;
 text?: string;
}
---

<h2 class:list={['accordion-header', className]} id={`${id}-heading-${i}`}>
  <button
    class="accordion-button"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target={`#${id}-collapse-${i}`}
    aria-expanded={show}
    aria-controls={`${id}-collapse-${i}`}
  >
  <slot><Fragment set:html={text} /></slot>
  </button>
</h2>
