---
import BreadcrumbItem from './BreadcrumbItem.astro';

const {
  id,
  class: className,
  itemClass,
  'aria-label': ariaLabel = 'Breadcrumb',
} = Astro.props;

const path: string = Astro.url.pathname;
const slugs: string[] = path.split('/').filter((x) => x);
let currentPath: string = '';

interface Parts {
  text: string;
  href: string | undefined;
}

interface Props {
  id?: string;
  class?: string;
  itemClass?: string;
  'aria-label'?: string;
}

let parts: Parts[] = [
  {
    text: 'Home',
    href: path !== '/' ? '/' : undefined,
  },
];

slugs.forEach((slug) => {
  const text: string = slug.replace(/[-_]/g, ' ');
  currentPath = `${currentPath}/${slug}`;
  const href = currentPath;

  parts.push({
    text: text,
    href,
  });
});
---

<nav aria-label={ariaLabel} {id}>
  <ol class="breadcrumb" class={className}>
    <slot>
      {
        parts.map(({ text, href }) => (
          <BreadcrumbItem {href} class={itemClass}>
            {text}
          </BreadcrumbItem>
        ))
      }
    </slot>
  </ol>
</nav>
