---
const { slides, class: className, id } = Astro.props;
import { Carousel } from '../../index';
export interface Props {
  slides: CarouselSlideType[];
  class?: string;
  id: string;
}

import type { CarouselSlideType } from './CarouselSlide';
---

<div class="carousel-indicators">
  {
    slides.map((slide, index: number) => {
      const ariaCurrent = slide.active ? 'page' : undefined;
      return (
        <Carousel.Indicator
          id={id}
          index={index}
          class={className}
          aria-current={ariaCurrent}
          aria-label={slide.alt}
          active={slide.active}
        />
      );
    })
  }
</div>
