---
import Pagination from './Pagination';
import createPagination from '../utils/createPagination';
const {
  page,
  'aria-label': ariaLabel = 'Page pagination control',
  class: className,
  itemClass,
  linkClass,
  size,
} = Astro.props;
export interface Props {
  page?: any;
  'aria-label'?: string;
  class?: string;
  itemClass?: string;
  linkClass?: string;
  size?: 'sm' | 'lg';
  delta?: number;
}

const { pathname } = Astro.url;
const pages = createPagination(page, pathname);
---

<nav aria-label={ariaLabel}>
  <ul
    class:list={[
      'pagination',
      className,
      { 'pagination-sm': size === 'sm', 'pagination-lg': size === 'lg' },
    ]}
  >
    <slot>
      {
        pages &&
          pages.map(({ href, disabled, page }) => (
            <Pagination.Item class={itemClass} disabled={disabled}>
              <Pagination.Link href={href} class={linkClass}>
                {page}
              </Pagination.Link>
            </Pagination.Item>
          ))
      }
    </slot>
  </ul>
</nav>
