---
export interface Props {
  title: string;
}

import { SITE_TITLE } from '../config';
const { title } = Astro.props;
import 'bootstrap/dist/css/bootstrap.css';
import Navbar from '../components/Navbar.astro';
const path = Astro.url.pathname;
const isHome = path === '/';
const titleText = isHome ? `${SITE_TITLE}` : `${title} - ${SITE_TITLE}`;
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{titleText}</title>
  </head>
  <body>

      <Navbar />
 
    <slot />
  </body>
</html>
<style>
  body {
    height: 100vh;
  }
</style>
