---
import { Marked } from 'astro-bootstrap';
import BaseLayout from './BaseLayout.astro';
import SideNav from '@components/SideNav.astro';
import Toc from '@components/Toc.astro';
import { Alert } from 'astro-bootstrap';

const { title, description, docs } = Astro.props.frontmatter || Astro.props;
const { headings, url } = Astro.props;
export interface Props {
  title: string;
  description?: string;
  docs?: string;
  headings?: any;
  url?: any;
  frontmatter?: any;
}

const warningText = `\
This component is still under development. Please only use the snippets provided below to avoid breaking changes.
`;

let slug: string = '';
if (url) {
  const slugs = url.split('/').filter((x: string) => x);
  const category: string = slugs[slugs.length - 2];
  slug = category === 'components' && slugs[slugs.length - 1];
  slug = docs && docs;
}

docs ? (slug = docs) : null;
---

<BaseLayout {title}>
  <div class="container-fluid">
    <div class="row flex-class">
      <div class="py-2 px-3 col-main">
        <main>
          <h1 id="overview">{title}</h1>
          {
            description && (
              <p class="lead mb-2">
                <Marked inline>{description}</Marked>
              </p>
            )
          }
          <Alert variant="danger">{warningText}</Alert>
          {
            slug && (
              <p>
                View the official docs{' '}
                <a
                  href={`https://getbootstrap.com/docs/5.2/components/${slug}/`}
                >
                  here
                </a>
              </p>
            )
          }
          <slot />
        </main>
      </div>

      <div class="order-sm-first col-nav">
        <SideNav />
      </div>
      <div class="col-toc">
        {headings && <Toc {headings} />}
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  /* xs and up */
  .col-main {
    width: 100%;
  }
  /* sm and up */
  @media (min-width: 576px) {
    .col-main {
      width: calc(100% - 13rem);
    }
    .col-toc, .col-nav {
      /* enable scroll on sm-up for sidebar */
      position: sticky;
      top: 4rem; /* needs to be set even though everything has been pushed down 4rem */
      height: calc(100vh - 4rem);
      overflow-x: hidden;
      overflow-y: auto;
    }
    .col-nav {
      display: block;
      width: 13rem;
    }
  }
  /* md and up */
  @media (min-width: 768px) {
    .col-main {
      width: calc(100% - 24rem);
    }
    .col-toc {
      display: block;
      width: 11rem;
    }
  }
</style>
<style is:global>
  .text-astro {
    color: #ff5d01;
  }
</style>
