---
const { title, description, docs } = Astro.props.frontmatter || Astro.props;
const { headings,  url } = Astro.props;
export interface Props {
  title: string;
  description?: string;
  headings?: any;
  url?: any;
  frontmatter?: any;
}

import { Marked } from 'astro-bootstrap';
import BaseLayout from './BaseLayout.astro';
import SideNav from '@components/SideNav.astro';
import Toc from '@components/Toc.astro';

let slug: string = '';
if (url) {
  const slugs = url.split('/').filter((x) => x);
  const category = slugs[slugs.length - 2];
  slug = category === 'components' && slugs[slugs.length - 1];
  slug = docs && docs;
}
---

<BaseLayout {title}>
  <div class="container-fluid">
    <div class="row flex-class">
      <div class="col-xl-8 col-lg-6 col-sm-4 col-12 py-2 px-3">
        <main>
          <h1 id="overview">{title}</h1>
          {
            description && (
              <p class="lead mb-2">
                <Marked inline>{description}</Marked>
              </p>
            )
          }
          {
            slug && (
              <p>
                View the official docs{' '}
                <a
                  href={`https://getbootstrap.com/docs/5.2/components/${slug}/`}
                >
                  here
                </a>
              </p>
            )
          }
          <slot />
        </main>
      </div>

      <div class="col-xl-2 col-lg-3 col-sm-4 col-12 order-sm-first sticky-col">
        <SideNav />
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 d-none d-sm-block sticky-col">
        {headings && <Toc {headings} />}
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .sticky-col {
    position: sticky;
    top: 4rem; /* needs to be set even though everything has been pushed down 4rem */
    height: calc(100vh - 4rem);
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>
<style is:global>
  .text-astro {
    color: #ff5d01;
  }
</style>
