---
import { Offcanvas } from 'astro-bootstrap';
const id = 'offcanvasExample';
---

<!-- launch with button examples -->
<a
  class="btn btn-primary"
  data-bs-toggle="offcanvas"
  href={`#${id}`}
  role="button"
  aria-controls={id}
>
  Link with href
</a>
<button
  class="btn btn-primary"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target={`#${id}`}
  aria-controls={id}
>
  Button with data-bs-target
</button>

<!-- Offcanvas -->
<Offcanvas {id}>
  <Offcanvas.Header parent={id}>Offcanvas title</Offcanvas.Header>
  <Offcanvas.Body>
    Woo-hoo, you're reading this text in an offcanvas!
  </Offcanvas.Body>
</Offcanvas>
